<h1>Forms</h1>

<h2>Helpers<h2>

<h3>Form Row</h3>

<p>
  This is used for presentational purposed. Can be used for a label and field pair or grouping multiple form elements.
</p>

<code>
  <pre>
<%= File.open(Rails.root.join("app/views/forms/_form_row.html.erb")).read %>
  </pre>
</code>

<%= render 'form_row' %>

<h2>Builders</h2>

<h3>Validation - Basic example</h3>

<p>
  IMPORTANT: At this moment in time <code>form_row</code> is mandatory otherwise correct styling will not be applied.
</p>

<code>
  <pre>
<%= File.open(Rails.root.join("app/views/forms/_validation_summary.html.erb")).read %>
  </pre>
</code>

<%= render 'validation_summary' %>

<h3>Validation - With ordered fields</h3>

<ul>
  <li>Your model must implement #field_order on your model instance to return an array of symbols representing each field.</li>
  <li>:base may be added to the array if that needs to be ordered</li>
  <li>All fields not in the array are appended to the end in the default order</li>
</ul>

<code>
  <pre>
<%= File.open(Rails.root.join("app/views/forms/_validation_summary_ordered.html.erb")).read %>
  </pre>
</code>

<%= render 'validation_summary_ordered' %>

